[Desktop Entry]
Encoding=UTF-8
Name=Computer Label
Name[es]=Etiqueta del equipo
Comment=Show the computer label.
Comment[es]=Muestra la etiqueta del equipo.
Icon=migasfree-label
Exec=/usr/bin/migasfree-label
Terminal=false
Type=Application
Categories=Settings;System;PackageManager;
StartupNotify=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-after=panel
X-KDE-Autostart-Notify=true
X-KDE-Autostart-enabled=true
X-KDE-Autostart-after=panel
Hidden=false
