Source: migasfree-launcher
Section: utils
Priority: extra
Maintainer: Alberto Gacías <alberto@migasfree.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/migasfree/migasfree-launcher

Package: migasfree-launcher
Architecture: all
Pre-Depends: migasfree-client (>=4.5), sudo
Depends: ${misc:Depends}, ${python:Depends}, gir1.2-appindicator3-0.1, gir1.2-gtk-3.0
Description: migasfree client indicator
 Indicator to view and control migasfree client actions
